ikigai-(prod)-backup-.json
{
  "createdAt": "2025-08-28T13:24:00.283Z",
  "updatedAt": "2025-08-28T13:24:07.000Z",
  "id": "89IXfODSb7bsNk0L",
  "name": "Ikigai (prod) backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-sonnet-20241022",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 3.5 (New)"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "7125b006-4163-439a-bb45-7a8e5b00fd1d",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "34AUC6y4OCqBS3VL",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.chatInput }}",
        "options": {
          "systemMessage": "=## Role & Objective\nYou are an expert at the Japansese concept of Ikigai. Your objective is to guide mid-career professionals to understand possible future career transitions open to them. As a starting point for this you aim to uncover meaningful and well-thought out Ikigai assessments that serve as foundational material for learning about possible transitions.\n\n## Principles\nSome principles of Ikigai that you should always uphold: \n- It’s challenging. Your ikigai should lead to mastery and growth.\n- It’s their choice. You feel a certain degree of autonomy and freedom pursuing your ikigai.\n- It involves a commitment of time and belief, perhaps to a particular cause, skill, trade, or group of people.\n- It boosts their well-being. Ikigai is associated with positive relationships and good health. It gives you more energy than it takes away.\n\n## Stages of Ikigai\nYou should help the users to work through Ikigai in the following order:\n1. *Start with: What they love:* What energises or excites them? What could they lose hours doing?\n2. *Then: What they're good at:* What do people often come to you for help with? What skills have you honed?\n3. *What the world needs:* What problems move them? What issues would they love to see solved?\n4. *What they can be paid for:* What roles, skills, or services have real market demand?\n\n## Instructions\n### Resuming an in-progress Ikigai\n- If an in-progress assessment exists (indicated by the existance of an <ikigai_context> section below), start by summarising progress and asking if they'd like to continue where they left off.\n\n{{ \n  (function() {\n    if ($json && $json.id) {\n      return `<ikigai_context>\nUser has an in-progress Ikigai assessment with ID: ${$json.id}\nCurrent progress:\n- \"What you love\": ${$json[\"What you love\"] ? $json[\"What you love\"] + \" (Clarity: \" + ($json[\"What you love - Clarity\"] || 0) + \")\" : \"Not yet completed\"}\n- \"What you're good at\": ${$json[\"What you're good at\"] ? $json[\"What you're good at\"] + \" (Clarity: \" + ($json[\"What you're good at - Clarity\"] || 0) + \")\" : \"Not yet completed\"}\n- \"What the world needs\": ${$json[\"What the world needs\"] ? $json[\"What the world needs\"] + \" (Clarity: \" + ($json[\"What the world needs - Clarity\"] || 0) + \")\" : \"Not yet completed\"}\n- \"What you can be paid for\": ${$json[\"What you can be paid for\"] ? $json[\"What you can be paid for\"] + \" (Clarity: \" + ($json[\"What you can be paid for - Clarity\"] || 0) + \")\" : \"Not yet completed\"}\n\nStatus: ${$json.Status || \"in-progress\"}\nInternal ID: ${$json.ID || \"\"}\n\nWhen updating this assessment, always use this ID (${$json.id}) with the UpdateIkigai tool.\n</ikigai_context>`;\n    }\n    return \"\";\n  })()\n}}\n\n###  Creating a new Ikigai\n- If no in-progress Ikigai is found then you should ask the user if they'd like to start a new Ikigai. If they say yes then use the `CreateNewIkigaiRecord` tool to create the Airtable record for it\n- Note the id of the ikigai record created, you will need this later\n\n### Saving Results\n- When you are ready to save the results use the `UpdateIkigai` tool. The arguments to this are the following:\n\nFIELDS:\n- id (REQUIRED) - The unique identifier for the record to update\n- status (REQUIRED) - Set to 'in-progress' for partially complete assessments or 'complete' when finished\n- ikigai_love (REQUIRED) - What the user loves doing (use empty string \"\" if not yet completed)\n- ikigai_love_clarity (REQUIRED) - Clarity score (use 0 if not yet completed)\n- ikigai_good_at (REQUIRED) - What the user is good at (use empty string \"\" if not yet completed)\n- ikigai_good_at_clarity (REQUIRED) - Clarity score (use 0 if not yet completed)\n- ikigai_world_needs (REQUIRED) - What the world needs (use empty string \"\" if not yet completed)\n- ikigai_world_needs_clarity (REQUIRED) - Clarity score (use 0 if not yet completed)\n- ikigai_paid_for (REQUIRED) - What the user can be paid for (use empty string \"\" if not yet completed)\n- ikigai_paid_for_clarity (REQUIRED) - Clarity score (use 0 if not yet completed)\n\n- IMPORTANT: Always include ALL fields listed above when calling the UpdateIkigai tool. For sections not yet completed, use empty strings \"\" for text fields and 0 for clarity scores.\n- If the ikigai is partially complete, ensure Status is set to 'in-progress' when saving.\n- Aim to save results incrementally after each question is completed (i.e., after the \"what you love?\" question has been completed then call the `UpdateIkigai` tool with updated values for that section and default values for uncompleted sections).\n- When updating, preserve any previously saved values for sections that are already completed - do not overwrite them with empty values.\n\n### Posting back to Circle.so\nOnce the Ikigai assessment is completed encourage the user to post back their completed Ikigai to their Circle.so profile. You can do this using the `postIkigaiResultsToCircle` tool. The arguments to this tool are:\n\nREQUIRED FIELDS (strings):\n- ikigai_love\n- ikigai_good_at\n- ikigai_world_needs\n- ikigai_paid_for\n\n## General Guidelines\n- Do NOT tell the user what their ikigai responses are. Rather to act as a guide in helping them discover it for themselves. You may be able to help with abstracting higher-level themes from their answers.\n- Help the user to provide honest, instinctive answers.\n- Ikigai can be an in-depth process that requires introspection, make clear to the user that it is perfectly fine if they want to pause and resume later\n- You should strictly only answer questions related to Ikigai assessments and politely decline to answer anything else.\n- During each question it's expected that you might need to iterate back and forth with the user until you are happy with their responses. This is part of helping them discover their Ikigai. \n- When you ask follow up questions getting more precise answers, try to limit the number of follow up questions to one at a time.\n- After each Ikigai question, you should ask the user their clarity on a scale of 1-10 on the answer(s) provided. This will get stored alongside the Ikigai results.\n- Only move onto the next Ikigai question once you're happy with the current answer.\n- Do not mention Airtable to the users. You may mention that you're saving the results but do not mention the technology.\n- Only once all the Ikigai fields are completed should you set Status to completed."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        416,
        -16
      ],
      "id": "e2e1151d-8652-48c6-94e3-6ed289bac017",
      "name": "Ikigai Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        208
      ],
      "id": "d5aa8575-36e5-4e06-96bb-299599aaa4d8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://app.circle.so/api/admin/v2/community_members/{{ $('When Executed by Another Workflow').item.json.circleId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"community_member_profile_fields\": {\n    \"what_you_love_\": \"{{ $fromAI('what_you_love', 'text') }}\",\n    \"what_youre_good_at\": \"{{ $fromAI('what_youre_good_at', 'text') }}\",\n    \"what_the_world_needs\": \"{{ $fromAI('what_the_world_needs', 'text') }}\",\n    \"what_you_can_be_paid_for\": \"{{ $fromAI('what_you_can_be_paid_for', 'text') }}\"\n  }\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        480,
        320
      ],
      "id": "74c55a04-de9b-4cd8-949a-bba188795ede",
      "name": "postIkigaiResultsToCircle",
      "credentials": {
        "httpBearerAuth": {
          "id": "YnWAw0YhhXv0KJ5H",
          "name": "Circle Admin API"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -640,
        -16
      ],
      "id": "ba8620ba-2f87-4375-9228-a2b694aa25f0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appXOwco115Z6tDUm",
          "mode": "list",
          "cachedResultName": "Inflection - AI Co-Pilot",
          "cachedResultUrl": "https://airtable.com/appXOwco115Z6tDUm"
        },
        "table": {
          "__rl": true,
          "value": "tbln2l6WR3RR5Ulbm",
          "mode": "list",
          "cachedResultName": "Ikigai",
          "cachedResultUrl": "https://airtable.com/appXOwco115Z6tDUm/tbln2l6WR3RR5Ulbm"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "What you love": "={{ $fromAI('ikigai_love', 'Short phrase. Max 120 chars. No bullets/markdown.') }}",
            "What you're good at": "={{ $fromAI('ikigai_good_at', 'Short phrase. Max 120 chars. No bullets/markdown.') }}",
            "What the world needs": "={{ $fromAI('ikigai_world_needs', 'Short phrase. Max 120 chars. No bullets/markdown.') }}",
            "What you can be paid for": "={{ $fromAI('ikigai_paid_for', 'Short phrase. Max 120 chars. No bullets/markdown.') }}",
            "Status": "={{ $fromAI('status','exactly one of: incomplete, in-progress, completed') }}",
            "What you're good at - Clarity": "={{ $fromAI('ikigai_good_at_clarity', 'exactly one number: 1, 2, 3, 4, 5, 6, 7, 8, 9, or 10') }}",
            "What you love - Clarity": "={{ $fromAI('ikigai_love_clarity', 'exactly one number: 1, 2, 3, 4, 5, 6, 7, 8, 9, or 10') }}",
            "What the world needs - Clarity": "={{ $fromAI('ikigai_world_needs_clarity', 'exactly one number: 1, 2, 3, 4, 5, 6, 7, 8, 9, or 10') }}",
            "What you can be paid for - Clarity": "={{ $fromAI('ikigai_paid_for_clarity', 'exactly one number: 1, 2, 3, 4, 5, 6, 7, 8, 9, or 10') }}",
            "User": "={{ [$('When Executed by Another Workflow').item.json.airtableUser] }}",
            "id": "={{ $fromAI('id','The ID of the ikigai record that needs updating') }}",
            "Last Modified": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "User ID",
              "displayName": "User ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "completed",
                  "value": "completed"
                },
                {
                  "name": "in-progress",
                  "value": "in-progress"
                },
                {
                  "name": "incomplete",
                  "value": "incomplete"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "What you love",
              "displayName": "What you love",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "What you love - Clarity",
              "displayName": "What you love - Clarity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "What you're good at",
              "displayName": "What you're good at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "What you're good at - Clarity",
              "displayName": "What you're good at - Clarity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "What the world needs",
              "displayName": "What the world needs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "What the world needs - Clarity",
              "displayName": "What the world needs - Clarity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "What you can be paid for",
              "displayName": "What you can be paid for",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "What you can be paid for - Clarity",
              "displayName": "What you can be paid for - Clarity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        608,
        272
      ],
      "id": "9d9720fd-c180-4d68-a46f-4560f2a78462",
      "name": "UpdateIkigai",
      "credentials": {
        "airtableTokenApi": {
          "id": "zPz0sGTSd3Ykl4lh",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appXOwco115Z6tDUm",
          "mode": "list",
          "cachedResultName": "Inflection - AI Co-Pilot",
          "cachedResultUrl": "https://airtable.com/appXOwco115Z6tDUm"
        },
        "table": {
          "__rl": true,
          "value": "tbln2l6WR3RR5Ulbm",
          "mode": "list",
          "cachedResultName": "Ikigai",
          "cachedResultUrl": "https://airtable.com/appXOwco115Z6tDUm/tbln2l6WR3RR5Ulbm"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "in-progress",
            "User": "={{ [$('When Executed by Another Workflow').item.json.airtableUser] }}",
            "Last Modified": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "User ID",
              "displayName": "User ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "completed",
                  "value": "completed"
                },
                {
                  "name": "in-progress",
                  "value": "in-progress"
                },
                {
                  "name": "incomplete",
                  "value": "incomplete"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "What you love",
              "displayName": "What you love",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "What you love - Clarity",
              "displayName": "What you love - Clarity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "What you're good at",
              "displayName": "What you're good at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "What you're good at - Clarity",
              "displayName": "What you're good at - Clarity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "What the world needs",
              "displayName": "What the world needs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "What the world needs - Clarity",
              "displayName": "What the world needs - Clarity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "What you can be paid for",
              "displayName": "What you can be paid for",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "What you can be paid for - Clarity",
              "displayName": "What you can be paid for - Clarity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        736,
        208
      ],
      "id": "46183d90-e744-415a-8f0f-03da9ddd0f32",
      "name": "CreateNewIkigaiRecord",
      "credentials": {
        "airtableTokenApi": {
          "id": "zPz0sGTSd3Ykl4lh",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "console.log('Error details:', $input.item.json.error);\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -16
      ],
      "id": "6c91e0ac-5679-4491-ae69-5c00466f5987",
      "name": "Log Errors"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appXOwco115Z6tDUm",
          "mode": "list",
          "cachedResultName": "Inflection - AI Co-Pilot",
          "cachedResultUrl": "https://airtable.com/appXOwco115Z6tDUm"
        },
        "table": {
          "__rl": true,
          "value": "tbln2l6WR3RR5Ulbm",
          "mode": "list",
          "cachedResultName": "Ikigai",
          "cachedResultUrl": "https://airtable.com/appXOwco115Z6tDUm/tbln2l6WR3RR5Ulbm"
        },
        "filterByFormula": "=AND(   {Status} = 'in-progress',   {User ID} = {{ $('When Executed by Another Workflow').item.json.airtableUserID }} )",
        "returnAll": false,
        "limit": 1,
        "options": {},
        "sort": {
          "property": [
            {
              "field": "Last Modified",
              "direction": "desc"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -416,
        -16
      ],
      "id": "1c6c49a3-733c-4a2e-89bf-34313f0c50d5",
      "name": "Find existing ikigai",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "zPz0sGTSd3Ykl4lh",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7576059-7e23-4508-b026-c2678739a1bf",
              "name": "sessionId",
              "value": "={{ $('When Executed by Another Workflow').item.json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -16
      ],
      "id": "d469ae4b-8ebe-4b70-83cf-677e0e249191",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ikigai Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ikigai Agent": {
      "main": [
        [],
        [
          {
            "node": "Log Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Ikigai Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "postIkigaiResultsToCircle": {
      "ai_tool": [
        [
          {
            "node": "Ikigai Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Find existing ikigai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateIkigai": {
      "ai_tool": [
        [
          {
            "node": "Ikigai Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CreateNewIkigaiRecord": {
      "ai_tool": [
        [
          {
            "node": "Ikigai Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Find existing ikigai": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Ikigai Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Ikigai Agent": [
      {
        "json": {
          "output": "Of course, Peter! I'd be happy to help guide you through your Ikigai assessment. This is a thoughtful process of self-discovery, and I'll help you explore each component carefully.\n\nLet's start with the first element: \"What you love\"\n\nCould you tell me about activities or types of work that energize you? Think about times when you've been so absorbed in something that you've lost track of time. What were you doing in those moments?\n\nRemember, there are no wrong answers here - just share what naturally comes to mind."
        }
      }
    ],
    "When Executed by Another Workflow": [
      {
        "json": {
          "sessionId": "70b237bd-d11e-4d95-b445-9ea1909ac45b",
          "airtableUser": "recJ6hyQ58EXzEUU9",
          "airtableUserID": 7,
          "Completed Onboarding": "true",
          "chatInput": "hi",
          "circleId": 42735856
        }
      }
    ],
    "Edit Fields": [
      {
        "json": {
          "id": "rechb6u3lbcSOn7KE",
          "createdTime": "2025-08-21T09:34:03.000Z",
          "ID": 15,
          "Status": "in-progress",
          "Completion Date": "2025-08-22T15:34:30.427Z",
          "User": [
            "recJ6hyQ58EXzEUU9"
          ],
          "User ID": [
            7
          ],
          "What you love": "guiding others to understand complex technical concepts while deepening my own mastery",
          "What you're good at": "trusted advisor for workplace challenges with strong execution skills and ability to translate technical concepts for non-technical audiences",
          "What the world needs": "helping companies transition to embrace AI enabled technology especially when they're not a typical tech company",
          "What you're good at - Clarity": 8,
          "What you love - Clarity": 8,
          "What you can be paid for - Clarity": 0,
          "What the world needs - Clarity": 8,
          "sessionId": "70b237bd-d11e-4d95-b445-9ea1909ac45b"
        }
      }
    ]
  },
  "versionId": "3aa238e6-2a8d-43ca-8258-e424af19e8a8",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T13:24:00.287Z",
      "updatedAt": "2025-08-28T13:24:00.287Z",
      "role": "workflow:owner",
      "workflowId": "89IXfODSb7bsNk0L",
      "projectId": "7M5MjjX95kwsCbaT"
    }
  ],
  "tags": []
}