inflection-mvp-(prod)-backup-.json
{
  "createdAt": "2025-08-28T13:23:28.900Z",
  "updatedAt": "2025-08-28T13:23:38.000Z",
  "id": "lieZMfFfs8TuUxdy",
  "name": "Inflection MVP (prod) backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {
          "responseMode": "responseNode"
        },
        "path": "3252f488-9893-4731-8bb8-4adbbb8ad097"
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -688,
        1552
      ],
      "id": "7c454b80-0ba4-4632-a14e-bc2348825be2",
      "name": "When chat message received",
      "webhookId": "3252f488-9893-4731-8bb8-4adbbb8ad097"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When chat message received').item.json.metadata.selectedOption }}",
                    "rightValue": "ikigai",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5986ad2c-c07f-4ca4-97bd-68ceb9a6e6da"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ikigai"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "efadc2b3-f3e9-43c9-9250-d7f64afc7c67",
                    "leftValue": "={{ $('When chat message received').item.json.metadata.selectedOption }}",
                    "rightValue": "energy",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "energy"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1104,
        1632
      ],
      "id": "271003ec-736c-4872-a4e0-f3b3762df8b4",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.circle.so/api/v1/headless/auth_token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.user_auth.email }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        1552
      ],
      "id": "9e2d466f-38f3-4472-86a9-268bfe038207",
      "name": "Check email exists in circle community1",
      "credentials": {
        "httpBearerAuth": {
          "id": "3nDi1sFvxbgHLY86",
          "name": "Circle Headless API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "49e7a725-a23e-466e-9acd-1a212a833cc6",
              "leftValue": "={{ $json.body.access_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "390408bc-a08b-4009-8962-051cc931930c",
              "leftValue": "={{ $json.body.community_id }}",
              "rightValue": "380195",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "686deb74-1c7d-4150-acc4-feb02259c003",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        1552
      ],
      "id": "bfe8cd87-e485-4485-858c-3cd65e09bb2b",
      "name": "If user found in circle1"
    },
    {
      "parameters": {
        "url": "=https://app.circle.so/api/admin/v2/community_members/{{$json.body.community_member_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        1456
      ],
      "id": "1455f14e-7d09-4d34-a6f7-072b5eeb9b95",
      "name": "Get User's Profile1",
      "credentials": {
        "httpBearerAuth": {
          "id": "YnWAw0YhhXv0KJ5H",
          "name": "Circle Admin API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"output\": \"Please log into Circle.so to use this chat.\",\n  \"authentication_failed\": true,\n  \"action\": \"disable_chat\"\n}\n",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        208,
        1648
      ],
      "id": "ec55f4e4-a70e-42ef-b869-ba6e6c0ee91a",
      "name": "Tell user they're not authenticated and block chat1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b013dee-4270-45ce-b5ac-75399c71e633",
              "leftValue": "={{ $('When chat message received').item.json.chatInput }}",
              "rightValue": "__INIT__",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6ae16a01-9f3e-4fa4-b8c1-eed170fecbc2",
              "leftValue": "={{ $('When chat message received').item.json.action }}",
              "rightValue": "initialize",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        1456
      ],
      "id": "fd284125-5717-4ad9-8649-9eec55e53c16",
      "name": "If __INIT__ method1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=[{\n    \"output\": \"Hi {{ $('Get User\\'s Profile').item.json.name }}! 👋 Welcome back to Inflection. How can I help you today?\"\n}]",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1328,
        1264
      ],
      "id": "fff2809b-2b90-44f5-b790-716f6ce1c2df",
      "name": "Send personalised welcome1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22ffa478-1317-4f28-900b-8abed59a728d",
              "leftValue": "={{$json.id !== undefined}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        1264
      ],
      "id": "4f130a9c-1b79-4db4-8744-147f94953de4",
      "name": "If Airtable user record exists1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appXOwco115Z6tDUm",
          "mode": "list",
          "cachedResultName": "Inflection - AI Co-Pilot",
          "cachedResultUrl": "https://airtable.com/appXOwco115Z6tDUm"
        },
        "table": {
          "__rl": true,
          "value": "tbl6lNt081pZviaOF",
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://airtable.com/appXOwco115Z6tDUm/tbl6lNt081pZviaOF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Get User\\'s Profile').item.json.name }}",
            "Email": "={{ $('Get User\\'s Profile').item.json.email }}",
            "Circle ID": "={{ $('Get User\\'s Profile').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ikigai",
              "displayName": "Ikigai",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Circle ID",
              "displayName": "Circle ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1104,
        1344
      ],
      "id": "35ca91db-83e9-4c0b-afa6-2171bf581c14",
      "name": "Create User record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "zPz0sGTSd3Ykl4lh",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appXOwco115Z6tDUm",
          "mode": "list",
          "cachedResultName": "Inflection - AI Co-Pilot",
          "cachedResultUrl": "https://airtable.com/appXOwco115Z6tDUm"
        },
        "table": {
          "__rl": true,
          "value": "tbl6lNt081pZviaOF",
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://airtable.com/appXOwco115Z6tDUm/tbl6lNt081pZviaOF"
        },
        "filterByFormula": "={Email} =  '{{ $('Get User\\'s Profile').item.json.email }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        656,
        1264
      ],
      "id": "a536e75b-2d20-4c00-8142-1e0fb68ab7ad",
      "name": "Search airtable user records1",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "zPz0sGTSd3Ykl4lh",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"sessionId\": \"{{ $('When chat message received').item.json.sessionId }}\",\n  \"airtableUser\": \"{{ $json.id }}\",\n  \"airtableUserID\": {{ $json.Id }},\n  \"Completed Onboarding\": \"{{ $json['Completed Onboarding'] || false }}\",\n  \"chatInput\": \"{{ $('Sanitise User Input1').item.json.message }}\",\n  \"circleId\": {{ $json[\"Circle ID\"] }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        1632
      ],
      "id": "558ac302-0728-448c-87eb-3eb6bf141938",
      "name": "Add sessionId1"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appXOwco115Z6tDUm",
          "mode": "list",
          "cachedResultName": "Inflection - AI Co-Pilot",
          "cachedResultUrl": "https://airtable.com/appXOwco115Z6tDUm"
        },
        "table": {
          "__rl": true,
          "value": "tbl6lNt081pZviaOF",
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://airtable.com/appXOwco115Z6tDUm/tbl6lNt081pZviaOF"
        },
        "filterByFormula": "={Circle ID} =  {{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        656,
        1632
      ],
      "id": "65451772-cd5a-4cde-a2d3-8aff6d0f5291",
      "name": "Get user record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "zPz0sGTSd3Ykl4lh",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appXOwco115Z6tDUm",
          "mode": "list",
          "cachedResultName": "Inflection - AI Co-Pilot",
          "cachedResultUrl": "https://airtable.com/appXOwco115Z6tDUm"
        },
        "table": {
          "__rl": true,
          "value": "tbljTF6x0iBX59kDi",
          "mode": "list",
          "cachedResultName": "Messages",
          "cachedResultUrl": "https://airtable.com/appXOwco115Z6tDUm/tbljTF6x0iBX59kDi"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "conversation_id": "={{ $('Add sessionId1').item.json.sessionId }}",
            "content": "={{ $('Respond to User1').item.json.output }}",
            "ts": "={{ new Date().toISOString() }}",
            "User": "={{ [$('Add sessionId1').item.json.airtableUser] }}",
            "role": "assistant"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "user",
                  "value": "user"
                },
                {
                  "name": "assistant",
                  "value": "assistant"
                },
                {
                  "name": "system",
                  "value": "system"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ts",
              "displayName": "ts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2000,
        1632
      ],
      "id": "5d846894-1c56-4bab-8e6f-b61470484448",
      "name": "Save Agent Output Trace1",
      "credentials": {
        "airtableTokenApi": {
          "id": "zPz0sGTSd3Ykl4lh",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appXOwco115Z6tDUm",
          "mode": "list",
          "cachedResultName": "Inflection - AI Co-Pilot",
          "cachedResultUrl": "https://airtable.com/appXOwco115Z6tDUm"
        },
        "table": {
          "__rl": true,
          "value": "tbljTF6x0iBX59kDi",
          "mode": "list",
          "cachedResultName": "Messages",
          "cachedResultUrl": "https://airtable.com/appXOwco115Z6tDUm/tbljTF6x0iBX59kDi"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "conversation_id": "={{ $('When chat message received').item.json.sessionId }}",
            "content": "={{ $('When chat message received').item.json.chatInput }}",
            "ts": "={{ new Date().toISOString() }}",
            "User": "={{ [$('Add sessionId1').item.json.airtableUser] }}",
            "role": "user"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "user",
                  "value": "user"
                },
                {
                  "name": "assistant",
                  "value": "assistant"
                },
                {
                  "name": "system",
                  "value": "system"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ts",
              "displayName": "ts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1776,
        1632
      ],
      "id": "d76f4f94-8a3f-4eab-8f1f-732bee936116",
      "name": "Save User Input Trace1",
      "credentials": {
        "airtableTokenApi": {
          "id": "zPz0sGTSd3Ykl4lh",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1552,
        1632
      ],
      "id": "ee4018e3-9d2f-4711-9914-efba4739e0d1",
      "name": "Respond to User1"
    },
    {
      "parameters": {
        "jsCode": "console.log('Full input:', JSON.stringify($input.all(), null, 2));\nconst inputData = $input.first().json;\nconsole.log('Input data:', JSON.stringify(inputData, null, 2));\n\n// Look for metadata in different possible locations\nconsole.log('Checking for metadata...');\nif (inputData.metadata) {\n  console.log('Found metadata:', JSON.stringify(inputData.metadata, null, 2));\n}\n\n// Sanitize chatInput - handle different input formats and escape special characters\nlet sanitizedMessage = '';\nif (inputData.chatInput) {\n  // Remove any control characters and sanitize\n  sanitizedMessage = inputData.chatInput\n    .toString()\n    .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, '') // Remove control characters\n    .replace(/\"/g, '\\\\\"')                          // Escape double quotes\n    .trim();\n} else if (inputData.message) {\n  // Handle alternate message field\n  sanitizedMessage = inputData.message\n    .toString()\n    .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, '') \n    .replace(/\"/g, '\\\\\"')\n    .trim();\n}\n\nconsole.log('Sanitized message:', sanitizedMessage);\n\nreturn [{\n  json: {\n    message: sanitizedMessage,\n    session_id: inputData.sessionId,\n    action: inputData.action,\n    user_auth: inputData.metadata || null,\n    debug: 'Checking for metadata'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        1552
      ],
      "id": "c9c129a7-b864-413b-964a-40c2a788f165",
      "name": "Sanitise User Input1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mwFk9NiB1UEYtwWF",
          "mode": "list",
          "cachedResultName": "Inflection — Ikigai (prod)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1328,
        1536
      ],
      "id": "a9e95097-7cd0-4636-95a3-17e16020f444",
      "name": "Execute Ikigai Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9U86dDzLOBvryuVU",
          "mode": "list",
          "cachedResultName": "Inflection — Energy Tracking (prod)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1328,
        1728
      ],
      "id": "372b3262-6e01-4af6-8bdc-97315548573d",
      "name": "Execute Energy Tracking Workflow"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Sanitise User Input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute Ikigai Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Energy Tracking Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check email exists in circle community1": {
      "main": [
        [
          {
            "node": "If user found in circle1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If user found in circle1": {
      "main": [
        [
          {
            "node": "Get User's Profile1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tell user they're not authenticated and block chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User's Profile1": {
      "main": [
        [
          {
            "node": "If __INIT__ method1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If __INIT__ method1": {
      "main": [
        [
          {
            "node": "Search airtable user records1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get user record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Airtable user record exists1": {
      "main": [
        [
          {
            "node": "Send personalised welcome1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create User record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create User record1": {
      "main": [
        [
          {
            "node": "Send personalised welcome1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search airtable user records1": {
      "main": [
        [
          {
            "node": "If Airtable user record exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add sessionId1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get user record1": {
      "main": [
        [
          {
            "node": "Add sessionId1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save User Input Trace1": {
      "main": [
        [
          {
            "node": "Save Agent Output Trace1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to User1": {
      "main": [
        [
          {
            "node": "Save User Input Trace1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitise User Input1": {
      "main": [
        [
          {
            "node": "Check email exists in circle community1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Ikigai Workflow": {
      "main": [
        [
          {
            "node": "Respond to User1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Energy Tracking Workflow": {
      "main": [
        [
          {
            "node": "Respond to User1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Get User's Profile1": [
      {
        "json": {
          "first_name": "Matt",
          "last_name": "Walton",
          "headline": "Product person",
          "created_at": "2025-07-18T12:25:15.113Z",
          "updated_at": "2025-07-24T08:43:02.186Z",
          "community_id": 380195,
          "last_seen_at": "2025-08-07T18:21:31.000Z",
          "profile_confirmed_at": "2025-07-18T12:32:18.000Z",
          "id": 42100364,
          "profile_url": "https://inflection-by-zinc.circle.so/u/1b399c60",
          "public_uid": "1b399c60",
          "profile_fields": [
            {
              "id": 4280646,
              "label": "Headline",
              "field_type": "text",
              "key": "headline",
              "placeholder": "Add your headline",
              "description": "Your headline",
              "required": false,
              "platform_field": true,
              "created_at": "2025-07-18T11:11:38.488Z",
              "updated_at": "2025-07-18T11:11:38.488Z",
              "community_member_profile_field": {
                "id": 86067332,
                "text": "Product person",
                "textarea": null,
                "created_at": "2025-07-18T12:32:17.884Z",
                "updated_at": "2025-07-18T12:32:17.884Z",
                "display_value": "Product person",
                "community_member_choices": [],
                "location_connections": []
              },
              "number_options": null,
              "choices": [],
              "pages": [
                {
                  "id": 13198461,
                  "name": "community_view",
                  "position": 1,
                  "visible": true,
                  "created_at": "2025-07-18T11:11:38.492Z",
                  "updated_at": "2025-07-18T11:11:38.492Z"
                },
                {
                  "id": 13198459,
                  "name": "edit_profile",
                  "position": 1,
                  "visible": true,
                  "created_at": "2025-07-18T11:11:38.490Z",
                  "updated_at": "2025-07-18T11:11:38.490Z"
                },
                {
                  "id": 13198460,
                  "name": "profile_view",
                  "position": 1,
                  "visible": true,
                  "created_at": "2025-07-18T11:11:38.491Z",
                  "updated_at": "2025-07-18T11:11:38.491Z"
                },
                {
                  "id": 13198458,
                  "name": "signup",
                  "position": 1,
                  "visible": true,
                  "created_at": "2025-07-18T11:11:38.489Z",
                  "updated_at": "2025-07-18T11:11:38.489Z"
                }
              ]
            },
            {
              "id": 4280647,
              "label": "Bio",
              "field_type": "textarea",
              "key": "bio",
              "placeholder": "Tell us a bit about yourself",
              "description": "A short bio about yourself",
              "required": false,
              "platform_field": true,
              "created_at": "2025-07-18T11:11:38.496Z",
              "updated_at": "2025-07-18T11:11:38.496Z",
              "community_member_profile_field": {
                "id": 86067333,
                "text": null,
                "textarea": "Me",
                "created_at": "2025-07-18T12:32:17.902Z",
                "updated_at": "2025-07-18T12:32:17.902Z",
                "display_value": "Me",
                "community_member_choices": [],
                "location_connections": []
              },
              "number_options": null,
              "choices": [],
              "pages": [
                {
                  "id": 13198463,
                  "name": "edit_profile",
                  "position": 2,
                  "visible": true,
                  "created_at": "2025-07-18T11:11:38.498Z",
                  "updated_at": "2025-07-18T11:11:38.498Z"
                },
                {
                  "id": 13198464,
                  "name": "profile_view",
                  "position": 2,
                  "visible": true,
                  "created_at": "2025-07-18T11:11:38.498Z",
                  "updated_at": "2025-07-18T11:11:38.498Z"
                },
                {
                  "id": 13198462,
                  "name": "signup",
                  "position": 2,
                  "visible": true,
                  "created_at": "2025-07-18T11:11:38.497Z",
                  "updated_at": "2025-07-18T11:11:38.497Z"
                }
              ]
            },
            {
              "id": 4280648,
              "label": "Location",
              "field_type": "location",
              "key": "location",
              "placeholder": "Add your location",
              "description": "Your location",
              "required": false,
              "platform_field": true,
              "created_at": "2025-07-18T11:11:38.503Z",
              "updated_at": "2025-07-18T11:11:38.503Z",
              "community_member_profile_field": {
                "id": 86067334,
                "text": "London, Greater London, England, United Kingdom",
                "textarea": null,
                "created_at": "2025-07-18T12:32:17.917Z",
                "updated_at": "2025-07-18T12:32:17.917Z",
                "display_value": "London, Greater London, England, United Kingdom",
                "community_member_choices": [],
                "location_connections": [
                  {
                    "id": 12982594,
                    "set_by_platform": false,
                    "location_entity": {
                      "id": 18,
                      "entity_type": "country",
                      "source": "mapbox_v6",
                      "source_id": "dXJuOm1ieHBsYzpJazg",
                      "name": "United Kingdom",
                      "name_preferred": null,
                      "language": "en"
                    }
                  },
                  {
                    "id": 12982595,
                    "set_by_platform": false,
                    "location_entity": {
                      "id": 46,
                      "entity_type": "region",
                      "source": "mapbox_v6",
                      "source_id": "dXJuOm1ieHBsYzpKRTg",
                      "name": "England",
                      "name_preferred": null,
                      "language": "en"
                    }
                  },
                  {
                    "id": 12982596,
                    "set_by_platform": false,
                    "location_entity": {
                      "id": 45,
                      "entity_type": "district",
                      "source": "mapbox_v6",
                      "source_id": "dXJuOm1ieHBsYzpDUVpQ",
                      "name": "Greater London",
                      "name_preferred": null,
                      "language": "en"
                    }
                  },
                  {
                    "id": 12982597,
                    "set_by_platform": false,
                    "location_entity": {
                      "id": 47,
                      "entity_type": "place",
                      "source": "mapbox_v6",
                      "source_id": "dXJuOm1ieHBsYzphaWhQ",
                      "name": "London",
                      "name_preferred": null,
                      "language": "en"
                    }
                  }
                ]
              },
              "number_options": null,
              "choices": [],
              "pages": [
                {
                  "id": 13198466,
                  "name": "edit_profile",
                  "position": 3,
                  "visible": true,
                  "created_at": "2025-07-18T11:11:38.505Z",
                  "updated_at": "2025-07-18T11:11:38.505Z"
                },
                {
                  "id": 13198467,
                  "name": "profile_view",
                  "position": 3,
                  "visible": true,
                  "created_at": "2025-07-18T11:11:38.505Z",
                  "updated_at": "2025-07-18T11:11:38.505Z"
                },
                {
                  "id": 13198465,
                  "name": "signup",
                  "position": 3,
                  "visible": true,
                  "created_at": "2025-07-18T11:11:38.504Z",
                  "updated_at": "2025-07-18T11:11:38.504Z"
                }
              ]
            },
            {
              "id": 4280649,
              "label": "Website",
              "field_type": "link",
              "key": "website",
              "placeholder": "Add your website",
              "description": "Your website URL",
              "required": false,
              "platform_field": true,
              "created_at": "2025-07-18T11:11:38.510Z",
              "updated_at": "2025-07-18T11:11:38.510Z",
              "community_member_profile_field": {
                "id": 86067335,
                "text": "https://mattwalton.co.uk",
                "textarea": null,
                "created_at": "2025-07-18T12:32:17.936Z",
                "updated_at": "2025-07-18T12:32:17.936Z",
                "display_value": "https://mattwalton.co.uk",
                "community_member_choices": [],
                "location_connections": []
              },
              "number_options": null,
              "choices": [],
              "pages": [
                {
                  "id": 13198469,
                  "name": "edit_profile",
                  "position": 4,
                  "visible": true,
                  "created_at": "2025-07-18T11:11:38.511Z",
                  "updated_at": "2025-07-18T11:11:38.511Z"
                },
                {
                  "id": 13198470,
                  "name": "profile_view",
                  "position": 4,
                  "visible": true,
                  "created_at": "2025-07-18T11:11:38.512Z",
                  "updated_at": "2025-07-18T11:11:38.512Z"
                },
                {
                  "id": 13198468,
                  "name": "signup",
                  "position": 4,
                  "visible": true,
                  "created_at": "2025-07-18T11:11:38.511Z",
                  "updated_at": "2025-07-18T11:11:38.511Z"
                }
              ]
            },
            {
              "id": 4280650,
              "label": "Twitter URL",
              "field_type": "link",
              "key": "twitter_url",
              "placeholder": "Add your Twitter URL",
              "description": "Your Twitter URL",
              "required": false,
              "platform_field": true,
              "created_at": "2025-07-18T11:11:38.517Z",
              "updated_at": "2025-07-18T11:11:38.517Z",
              "community_member_profile_field": {
                "id": 86067336,
                "text": "",
                "textarea": null,
                "created_at": "2025-07-18T12:32:17.972Z",
                "updated_at": "2025-07-18T12:32:17.972Z",
                "display_value": "",
                "community_member_choices": [],
                "location_connections": []
              },
              "number_options": null,
              "choices": [],
              "pages": [
                {
                  "id": 13198472,
                  "name": "edit_profile",
                  "position": 5,
                  "visible": true,
                  "created_at": "2025-07-18T11:11:38.518Z",
                  "updated_at": "2025-07-18T11:11:38.518Z"
                },
                {
                  "id": 13198473,
                  "name": "profile_view",
                  "position": 5,
                  "visible": true,
                  "created_at": "2025-07-18T11:11:38.519Z",
                  "updated_at": "2025-07-18T11:11:38.519Z"
                },
                {
                  "id": 13198471,
                  "name": "signup",
                  "position": 5,
                  "visible": true,
                  "created_at": "2025-07-18T11:11:38.517Z",
                  "updated_at": "2025-07-18T11:11:38.517Z"
                }
              ]
            },
            {
              "id": 4280653,
              "label": "Linkedin URL",
              "field_type": "link",
              "key": "linkedin_url",
              "placeholder": "Add your LinkedIn URL",
              "description": "Your LinkedIn URL",
              "required": false,
              "platform_field": true,
              "created_at": "2025-07-18T11:11:38.536Z",
              "updated_at": "2025-07-18T11:11:38.536Z",
              "community_member_profile_field": {
                "id": 86067339,
                "text": "https://www.linkedin.com/in/mattwalton/",
                "textarea": null,
                "created_at": "2025-07-18T12:32:18.032Z",
                "updated_at": "2025-07-18T12:32:18.032Z",
                "display_value": "https://www.linkedin.com/in/mattwalton/",
                "community_member_choices": [],
                "location_connections": []
              },
              "number_options": null,
              "choices": [],
              "pages": [
                {
                  "id": 13198481,
                  "name": "edit_profile",
                  "position": 8,
                  "visible": true,
                  "created_at": "2025-07-18T11:11:38.538Z",
                  "updated_at": "2025-07-18T11:11:38.538Z"
                },
                {
                  "id": 13198482,
                  "name": "profile_view",
                  "position": 8,
                  "visible": true,
                  "created_at": "2025-07-18T11:11:38.538Z",
                  "updated_at": "2025-07-18T11:11:38.538Z"
                },
                {
                  "id": 13198480,
                  "name": "signup",
                  "position": 8,
                  "visible": true,
                  "created_at": "2025-07-18T11:11:38.537Z",
                  "updated_at": "2025-07-18T11:11:38.537Z"
                }
              ]
            },
            {
              "id": 4280654,
              "label": "Profession",
              "field_type": "text",
              "key": "profession",
              "placeholder": "Add your profession",
              "description": "Your profession",
              "required": false,
              "platform_field": false,
              "created_at": "2025-07-18T11:11:38.543Z",
              "updated_at": "2025-07-18T11:11:38.543Z",
              "community_member_profile_field": null,
              "number_options": null,
              "choices": [],
              "pages": [
                {
                  "id": 13198484,
                  "name": "edit_profile",
                  "position": 9,
                  "visible": false,
                  "created_at": "2025-07-18T11:11:38.544Z",
                  "updated_at": "2025-07-18T11:11:38.544Z"
                },
                {
                  "id": 13198485,
                  "name": "profile_view",
                  "position": 9,
                  "visible": false,
                  "created_at": "2025-07-18T11:11:38.545Z",
                  "updated_at": "2025-07-18T11:11:38.545Z"
                },
                {
                  "id": 13198483,
                  "name": "signup",
                  "position": 9,
                  "visible": false,
                  "created_at": "2025-07-18T11:11:38.544Z",
                  "updated_at": "2025-07-18T11:11:38.544Z"
                }
              ]
            },
            {
              "id": 4280655,
              "label": "Birthday",
              "field_type": "text",
              "key": "birthday",
              "placeholder": "Add your birthday",
              "description": "Your birthday",
              "required": false,
              "platform_field": false,
              "created_at": "2025-07-18T11:11:38.550Z",
              "updated_at": "2025-07-18T11:11:38.550Z",
              "community_member_profile_field": null,
              "number_options": null,
              "choices": [],
              "pages": [
                {
                  "id": 13198487,
                  "name": "edit_profile",
                  "position": 10,
                  "visible": false,
                  "created_at": "2025-07-18T11:11:38.552Z",
                  "updated_at": "2025-07-18T11:11:38.552Z"
                },
                {
                  "id": 13198488,
                  "name": "profile_view",
                  "position": 10,
                  "visible": false,
                  "created_at": "2025-07-18T11:11:38.553Z",
                  "updated_at": "2025-07-18T11:11:38.553Z"
                },
                {
                  "id": 13198486,
                  "name": "signup",
                  "position": 10,
                  "visible": false,
                  "created_at": "2025-07-18T11:11:38.551Z",
                  "updated_at": "2025-07-18T11:11:38.551Z"
                }
              ]
            },
            {
              "id": 4280656,
              "label": "Company",
              "field_type": "text",
              "key": "company",
              "placeholder": "Add your company",
              "description": "Your company",
              "required": false,
              "platform_field": false,
              "created_at": "2025-07-18T11:11:38.558Z",
              "updated_at": "2025-07-18T11:11:38.558Z",
              "community_member_profile_field": null,
              "number_options": null,
              "choices": [],
              "pages": [
                {
                  "id": 13198490,
                  "name": "edit_profile",
                  "position": 11,
                  "visible": false,
                  "created_at": "2025-07-18T11:11:38.560Z",
                  "updated_at": "2025-07-18T11:11:38.560Z"
                },
                {
                  "id": 13198491,
                  "name": "profile_view",
                  "position": 11,
                  "visible": false,
                  "created_at": "2025-07-18T11:11:38.560Z",
                  "updated_at": "2025-07-18T11:11:38.560Z"
                },
                {
                  "id": 13198489,
                  "name": "signup",
                  "position": 11,
                  "visible": false,
                  "created_at": "2025-07-18T11:11:38.559Z",
                  "updated_at": "2025-07-18T11:11:38.559Z"
                }
              ]
            },
            {
              "id": 4355462,
              "label": "What you're good at",
              "field_type": "textarea",
              "key": "what_youre_good_at",
              "placeholder": "",
              "description": "From your Ikigai work.",
              "required": false,
              "platform_field": false,
              "created_at": "2025-08-01T14:59:41.815Z",
              "updated_at": "2025-08-01T14:59:41.815Z",
              "community_member_profile_field": null,
              "number_options": null,
              "choices": [],
              "pages": [
                {
                  "id": 13429663,
                  "name": "edit_profile",
                  "position": 9,
                  "visible": true,
                  "created_at": "2025-08-01T14:59:41.825Z",
                  "updated_at": "2025-08-01T14:59:41.825Z"
                },
                {
                  "id": 13429664,
                  "name": "profile_view",
                  "position": 9,
                  "visible": true,
                  "created_at": "2025-08-01T14:59:41.831Z",
                  "updated_at": "2025-08-01T14:59:41.831Z"
                },
                {
                  "id": 13429662,
                  "name": "signup",
                  "position": 9,
                  "visible": true,
                  "created_at": "2025-08-01T14:59:41.818Z",
                  "updated_at": "2025-08-01T14:59:41.818Z"
                }
              ]
            },
            {
              "id": 4355464,
              "label": "What you can be paid for",
              "field_type": "textarea",
              "key": "what_you_can_be_paid_for",
              "placeholder": "",
              "description": "From your Ikigai work.",
              "required": false,
              "platform_field": false,
              "created_at": "2025-08-01T15:00:11.669Z",
              "updated_at": "2025-08-01T15:00:11.669Z",
              "community_member_profile_field": null,
              "number_options": null,
              "choices": [],
              "pages": [
                {
                  "id": 13429669,
                  "name": "edit_profile",
                  "position": 11,
                  "visible": true,
                  "created_at": "2025-08-01T15:00:11.677Z",
                  "updated_at": "2025-08-01T15:00:11.677Z"
                },
                {
                  "id": 13429670,
                  "name": "profile_view",
                  "position": 11,
                  "visible": true,
                  "created_at": "2025-08-01T15:00:11.682Z",
                  "updated_at": "2025-08-01T15:00:11.682Z"
                },
                {
                  "id": 13429668,
                  "name": "signup",
                  "position": 11,
                  "visible": true,
                  "created_at": "2025-08-01T15:00:11.671Z",
                  "updated_at": "2025-08-01T15:00:11.671Z"
                }
              ]
            },
            {
              "id": 4355465,
              "label": "What the world needs",
              "field_type": "textarea",
              "key": "what_the_world_needs",
              "placeholder": "",
              "description": "From your Ikigai work.",
              "required": false,
              "platform_field": false,
              "created_at": "2025-08-01T15:00:42.106Z",
              "updated_at": "2025-08-01T15:00:42.106Z",
              "community_member_profile_field": null,
              "number_options": null,
              "choices": [],
              "pages": [
                {
                  "id": 13429672,
                  "name": "edit_profile",
                  "position": 12,
                  "visible": true,
                  "created_at": "2025-08-01T15:00:42.121Z",
                  "updated_at": "2025-08-01T15:00:42.121Z"
                },
                {
                  "id": 13429673,
                  "name": "profile_view",
                  "position": 12,
                  "visible": true,
                  "created_at": "2025-08-01T15:00:42.131Z",
                  "updated_at": "2025-08-01T15:00:42.131Z"
                },
                {
                  "id": 13429671,
                  "name": "signup",
                  "position": 12,
                  "visible": true,
                  "created_at": "2025-08-01T15:00:42.109Z",
                  "updated_at": "2025-08-01T15:00:42.109Z"
                }
              ]
            },
            {
              "id": 4355477,
              "label": "What you love",
              "field_type": "textarea",
              "key": "what_you_love_",
              "placeholder": "",
              "description": "From your Ikigai work.",
              "required": false,
              "platform_field": false,
              "created_at": "2025-08-01T15:02:45.763Z",
              "updated_at": "2025-08-01T15:02:45.763Z",
              "community_member_profile_field": null,
              "number_options": null,
              "choices": [],
              "pages": [
                {
                  "id": 13429709,
                  "name": "edit_profile",
                  "position": 13,
                  "visible": true,
                  "created_at": "2025-08-01T15:02:45.769Z",
                  "updated_at": "2025-08-01T15:02:45.769Z"
                },
                {
                  "id": 13429710,
                  "name": "profile_view",
                  "position": 13,
                  "visible": true,
                  "created_at": "2025-08-01T15:02:45.772Z",
                  "updated_at": "2025-08-01T15:02:45.772Z"
                },
                {
                  "id": 13429708,
                  "name": "signup",
                  "position": 13,
                  "visible": true,
                  "created_at": "2025-08-01T15:02:45.764Z",
                  "updated_at": "2025-08-01T15:02:45.764Z"
                }
              ]
            }
          ],
          "flattened_profile_fields": {
            "headline": "Product person",
            "bio": "Me",
            "location": "London, Greater London, England, United Kingdom",
            "website": "https://mattwalton.co.uk",
            "twitter_url": "",
            "linkedin_url": "https://www.linkedin.com/in/mattwalton/",
            "profession": null,
            "birthday": null,
            "company": null,
            "what_youre_good_at": null,
            "what_you_can_be_paid_for": null,
            "what_the_world_needs": null,
            "what_you_love_": null
          },
          "avatar_url": "https://app.circle.so/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCQkdPdVFVPSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--46a46f99d2c36e0e94d88fdf9ee74573430c3f51/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hSeVpYTnBlbVZmZEc5ZmJHbHRhWFJiQjJrQ0xBRnBBaXdCT2dwellYWmxjbnNHT2dwemRISnBjRlE9IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--ef295ed08e817a599d692fd6d8761673d3ed547f/Profile%20pic.jpeg",
          "user_id": 33084427,
          "name": "Matt Walton",
          "email": "matt.walton@zinc.vc",
          "accepted_invitation": "2025-07-18 12:31:09 UTC",
          "active": true,
          "sso_provider_user_id": null,
          "posts_count": 5,
          "comments_count": 0,
          "gamification_stats": null,
          "member_tags": [
            {
              "name": "Inflection Team",
              "id": 169766
            }
          ]
        }
      }
    ],
    "Search airtable user records1": [
      {
        "json": {
          "id": "recqqMCwicCuZzVxS",
          "createdTime": "2025-08-06T08:58:12.000Z",
          "Name": "Blah Blah",
          "Email": "matt.walton@zinc.vc",
          "Id": 2,
          "length": 0
        }
      }
    ],
    "Add sessionId1": [
      {
        "json": {
          "sessionId": "5f0460f3-c38b-4853-92d2-24771a5a56e0",
          "airtableUser": "recJ6hyQ58EXzEUU9",
          "Completed Onboarding": "false"
        }
      }
    ],
    "Get user record1": [
      {
        "json": {
          "id": "recJ6hyQ58EXzEUU9",
          "createdTime": "2025-08-11T14:38:26.000Z",
          "Name": "Peter",
          "Email": "peter@quantably.co",
          "Id": 7,
          "Circle ID": 42735856
        }
      }
    ],
    "Respond to User1": [
      {
        "json": {
          "output": "Hello! I'm here to help guide you through an Ikigai assessment, which can help uncover meaningful career directions aligned with your purpose. Ikigai is a Japanese concept that sits at the intersection of what you love, what you're good at, what the world needs, and what you can be paid for.\n\nWould you like to begin exploring your Ikigai? We'll start with the first component: \"What you love.\" \n\nSome questions to consider:\n- What activities energize you or make you lose track of time?\n- What topics or activities do you find yourself naturally drawn to?\n- What would you do even if you weren't paid for it?\n\nTake your time to reflect - there's no rush, and we can pause at any point if you need more time to think.\n\nWhat comes to mind when you think about what you truly love doing?"
        }
      }
    ],
    "Sanitise User Input1": [
      {
        "json": {
          "message": "hey",
          "session_id": "d83e47f8-496d-45f3-8e91-a2335bd141c0",
          "action": "sendMessage",
          "user_auth": {
            "circle_user_id": "dev-user-123",
            "email": "matt.walton@zinc.vc",
            "name": "Dev User",
            "session_cookie": "0KMbVnHK+Ufq72f6T3W41h8+bbX+Co3gRJXJouMVm6Y0eYiPIE2jD0p6FYPDAc4UWL9LWUGRravTySxJ4EkIx0KQqeKOFTTtYmEG0O1nYivp4IDlCnXAWF5pydy3QzaQLziANtUGwcRMFHgHP5I9esLGccVoTmH2GNJr/AYYAFtYeKsgjvyLxVruIVsx+g2WxGbgPp/9t+HbyjTJwIHqTChvHgf7DQLP9TwNWWBpCm6UztS54gI6YYSnNhn/TEh/mc4BeVvgR7lAabNQHUEFjozkd7tGRvmXoqfhtCkjxIm9KUvnv/oGdoZBJFpGjrPGeEUvZqNDkvC4USw08nEnTXJIpJdUV9OrVxEvtthdUp/Ko6Y6oCJAIiu/vnCrbE4Bz1coQTegxKJvSEShlWl--oLTHJ7Fw83z346Y2--a5yWo6hzVZRjS40PFSB1Kg==",
            "source": "development"
          },
          "debug": "Checking for metadata"
        }
      }
    ]
  },
  "versionId": "c4687506-28e0-40d0-a990-5045b0b1d620",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-28T13:23:28.904Z",
      "updatedAt": "2025-08-28T13:23:28.904Z",
      "role": "workflow:owner",
      "workflowId": "lieZMfFfs8TuUxdy",
      "projectId": "7M5MjjX95kwsCbaT"
    }
  ],
  "tags": []
}